In [ ]:
Este notebook foi criado para realizar a Trilha Digital | Coders 24 | Engenharia de dados
Autor: Murilo Farias
Data de In√≠cio: 09/06/2024

In [1]:
print('novo aquivo teste')

novo aquivo teste

In [2]:
print('oi')

oi

In [4]:
import pandas as pd
tabela = pd.DataFrame(
    {
        "Nome": ["Murilo","Igor"], 
        "Idade":[29,27]
    }
    )
display(tabela)

     Nome  Idade
0  Murilo     29
1    Igor     27