Use a linear regression and statsmodels to run a t-test on the linear relationship between features and Grad Rate value in the college.csv dataset.

Give a one-paragraph interpretation of the coefficient, and the meaning of the p-value.

Also, answer the following: should your regression include a constant term? Why or why not? How would it change the interpretation of your coefficient and p-value?

First, fit the model without scaling the data, and then scale the data and run it again. Can you spot any difference in R-squared values and coefficients? How can you interpret that?

Which features are important to predict our target in this dataset? Why?

In [8]:
import pandas as pd
import statsmodels.api as sm
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
df=pd.read_csv('college.csv')

In [30]:
df

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,Worcester State College,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Xavier University of Louisiana,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,York College of Pennsylvania,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   777 non-null    object
 1   Private      777 non-null    object
 2   Apps         777 non-null    int64
 3   Accept       777 non-null    int64
 4   Enroll       777 non-null    int64
 5   Top10perc    777 non-null    int64
 6   Top25perc    777 non-null    int64
 7   F.Undergrad  777 non-null    int64
 8   P.Undergrad  777 non-null    int64
 9   Outstate     777 non-null    int64
 10  Room.Board   777 non-null    int64
 11  Books        777 non-null    int64
 12  Personal     777 non-null    int64
 13  PhD          777 non-null    int64
 14  Terminal     777 non-null    int64
 15  S.F.Ratio    777 non-null    float64
 16  perc.alumni  777 non-null    int64
 17  Expend       777 non-null    int64
 18  Grad.Rate    777 non-null    int64
dtypes: float64(1), int64(16), object(2)
memory usage: 115.5+ KB

In [32]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Private, Apps, Accept, Enroll, Top10perc, Top25perc, F.Undergrad, P.Undergrad, Outstate, Room.Board, Books, Personal, PhD, Terminal, S.F.Ratio, perc.alumni, Expend, Grad.Rate]
Index: []

In [33]:
X = df[['Apps','Accept','Enroll','Top10perc','Top25perc','F.Undergrad','P.Undergrad','Outstate','Room.Board','Books','Personal','PhD','Terminal','S.F.Ratio','perc.alumni','Expend']]
X = sm.add_constant(X)  # Add a constant term to the features
y = df['Grad.Rate']

In [11]:

# Fit the multivariate regression model
model = sm.OLS(y, X).fit()

# Print the summary of the regression results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Grad.Rate   R-squared:                       0.459
Model:                            OLS   Adj. R-squared:                  0.447
Method:                 Least Squares   F-statistic:                     40.26
Date:                Wed, 14 Feb 2024   Prob (F-statistic):           5.34e-90
Time:                        20:31:45   Log-Likelihood:                -3073.0
No. Observations:                 777   AIC:                             6180.
Df Residuals:                     760   BIC:                             6259.
Df Model:                          16
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          37.0418      4.589      8.072      0.000      28.033      46.051
Apps            0.0012      0.000      2.710      0.007       0.000       0.002
Accept         -0.0006      0.001     -0.644      0.520      -0.002       0.001
Enroll          0.0021      0.002      0.923      0.356      -0.002       0.007
Top10perc       0.0626      0.072      0.872      0.384      -0.078       0.204
Top25perc       0.1352      0.055      2.454      0.014       0.027       0.243
F.Undergrad    -0.0006      0.000     -1.438      0.151      -0.001       0.000
P.Undergrad    -0.0015      0.000     -3.901      0.000      -0.002      -0.001
Outstate        0.0012      0.000      5.307      0.000       0.001       0.002
Room.Board      0.0020      0.001      3.485      0.001       0.001       0.003
Books          -0.0020      0.003     -0.694      0.488      -0.008       0.004
Personal       -0.0017      0.001     -2.167      0.031      -0.003      -0.000
PhD             0.0740      0.057      1.309      0.191      -0.037       0.185
Terminal       -0.0887      0.062     -1.430      0.153      -0.211       0.033
S.F.Ratio       0.0262      0.158      0.166      0.868      -0.283       0.336
perc.alumni     0.2899      0.049      5.919      0.000       0.194       0.386
Expend         -0.0005      0.000     -3.098      0.002      -0.001      -0.000
==============================================================================
Omnibus:                       38.533   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              101.624
Skew:                           0.200   Prob(JB):                     8.56e-23
Kurtosis:                       4.726   Cond. No.                     1.70e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.7e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [14]:
X = df[['Apps','Top25perc','P.Undergrad','Outstate','Room.Board','Personal','perc.alumni','Expend']]
X = sm.add_constant(X)  # Add a constant term to the features
y = df['Grad.Rate']

In [13]:

# Fit the multivariate regression model
model = sm.OLS(y, X).fit()

# Print the summary of the regression results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Grad.Rate   R-squared:                       0.453
Model:                            OLS   Adj. R-squared:                  0.447
Method:                 Least Squares   F-statistic:                     79.37
Date:                Wed, 14 Feb 2024   Prob (F-statistic):           2.92e-95
Time:                        20:33:25   Log-Likelihood:                -3077.4
No. Observations:                 777   AIC:                             6173.
Df Residuals:                     768   BIC:                             6215.
Df Model:                           8
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          33.7177      2.545     13.250      0.000      28.722      38.713
Apps            0.0008      0.000      5.132      0.000       0.000       0.001
Top25perc       0.1714      0.030      5.627      0.000       0.112       0.231
P.Undergrad    -0.0018      0.000     -5.147      0.000      -0.003      -0.001
Outstate        0.0012      0.000      5.801      0.000       0.001       0.002
Room.Board      0.0020      0.001      3.423      0.001       0.001       0.003
Personal       -0.0019      0.001     -2.491      0.013      -0.003      -0.000
perc.alumni     0.2973      0.048      6.162      0.000       0.203       0.392
Expend         -0.0004      0.000     -3.054      0.002      -0.001      -0.000
==============================================================================
Omnibus:                       37.738   Durbin-Watson:                   2.015
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               90.512
Skew:                           0.236   Prob(JB):                     2.22e-20
Kurtosis:                       4.604   Cond. No.                     9.09e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.09e+04. This might indicate that there are
strong multicollinearity or other numerical problems.