In [1]:
# Instala o pacote iPython-sql #para usar linguagem SQL
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (3.14.0)
Requirement already satisfied: ipython in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\murilofarias\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [2]:
import sqlite3
print(sqlite3.sqlite_version)

3.45.1

In [3]:
# Imports
import os #acessar o sistema operacional
import pandas as pd
import sqlite3 #banco de dados

In [4]:
# Define o caminho para o arquivo do banco de dados
arquivo_path = 'novo_banco.db'

In [5]:
# Verifica se o arquivo existe e deleta se existir para criar um novo arquivo depois
if os.path.exists(arquivo_path):
    try:
        os.remove(arquivo_path)
        print(f"Arquivo {arquivo_path} deletado com sucesso!")
    except Exception as e:
        print(f"Erro ao deletar o arquivo {arquivo_path}. Detalhes: {e}")
else:
    print(f"Arquivo {arquivo_path} n達o encontrado.")

Arquivo novo_banco.db n達o encontrado.

In [5]:
# Criamos e conectamos a conex達o a um banco de dados SQLite
cnn = sqlite3.connect('novo_banco.db')

In [6]:
# Carregamos a extens達o SQL
%load_ext sql

In [13]:
%reload_ext sql

In [7]:
# Definimos o banco de dados
%sql sqlite:///novo_banco.db

Connecting to 'sqlite:///novo_banco.db'

In [8]:
# Carrega o dataset
df = pd.read_csv('dataset.csv')

In [9]:
df.shape #linhas e colunas

(768, 9)

In [11]:
df.sample(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
581,6,109,60,27,0,25.0,0.206,27,0
25,10,125,70,26,115,31.1,0.205,41,1
121,6,111,64,39,0,34.2,0.260,24,0
681,0,162,76,36,0,49.6,0.364,26,1
189,5,139,80,35,160,31.6,0.361,25,1
7,8,183,64,0,0,23.3,0.672,32,1
655,2,155,52,27,540,38.7,0.240,25,1
350,4,92,80,0,0,42.2,0.237,29,0
689,1,144,82,46,180,46.1,0.335,46,1
448,0,104,64,37,64,33.6,0.510,22,1
120,0,162,76,56,100,53.2,0.759,25,1
259,11,155,76,28,150,33.3,1.353,51,1
307,0,137,68,14,148,24.8,0.143,21,0
75,1,0,48,20,0,24.7,0.140,22,0
563,6,99,60,19,54,26.9,0.497,32,0
601,6,96,0,0,0,23.7,0.190,28,0
215,12,151,70,40,271,41.8,0.742,38,1
297,0,126,84,29,215,30.7,0.520,24,0
553,1,88,62,24,44,29.9,0.422,23,0
417,4,144,82,32,0,38.5,0.554,37,1

In [10]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
# Copia o dataframe para dentro do banco de dados como uma tabela
df.to_sql('diabetes', cnn)

768

In [16]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,103,30,38,83,43.3,0.183,33,0
1,1,115,70,30,96,34.6,0.529,32,1
2,3,126,88,41,235,39.3,0.704,27,0
3,8,99,84,0,0,35.4,0.388,50,0
4,7,196,90,0,0,39.8,0.451,41,1

In [12]:
%%sql
SELECT * FROM diabetes

Running query in 'sqlite:///novo_banco.db'

+-------+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+---------+
| index | Pregnancies | Glucose | BloodPressure | SkinThickness | Insulin | BMI  | DiabetesPedigreeFunction | Age | Outcome |
+-------+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+---------+
|   0   |      1      |   103   |       30      |       38      |    83   | 43.3 |          0.183           |  33 |    0    |
|   1   |      1      |   115   |       70      |       30      |    96   | 34.6 |          0.529           |  32 |    1    |
|   2   |      3      |   126   |       88      |       41      |   235   | 39.3 |          0.704           |  27 |    0    |
|   3   |      8      |    99   |       84      |       0       |    0    | 35.4 |          0.388           |  50 |    0    |
|   4   |      7      |   196   |       90      |       0       |    0    | 39.8 |          0.451           |  41 |    1    |
|   5   |      6      |   148   |       72      |       35      |    0    | 33.6 |          0.627           |  50 |    1    |
|   6   |      1      |    85   |       66      |       29      |    0    | 26.6 |          0.351           |  31 |    0    |
|   7   |      8      |   183   |       64      |       0       |    0    | 23.3 |          0.672           |  32 |    1    |
|   8   |      1      |    89   |       66      |       23      |    94   | 28.1 |          0.167           |  21 |    0    |
|   9   |      0      |   137   |       40      |       35      |   168   | 43.1 |          2.288           |  33 |    1    |
+-------+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+---------+
Truncated to displaylimit of 10.

In [20]:
%%sql
SELECT Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age,
    CASE
        WHEN Age > 50 AND BMI <30 THEN 'Normal' 
        WHEN Age > 50 AND BMI >=30 THEN 'Obeso'
        ELSE '-'
    END as 'Status'
FROM diabetes
WHERE Status IS NOT '-'

Running query in 'sqlite:///novo_banco.db'

+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+--------+
| Pregnancies | Glucose | BloodPressure | SkinThickness | Insulin | BMI  | DiabetesPedigreeFunction | Age | Status |
+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+--------+
|      2      |   197   |       70      |       45      |   543   | 30.5 |          0.158           |  53 | Obeso  |
|      8      |   125   |       96      |       0       |    0    | 0.0  |          0.232           |  54 | Normal |
|      10     |   139   |       80      |       0       |    0    | 27.1 |          1.441           |  57 | Normal |
|      1      |   189   |       60      |       23      |   846   | 30.1 |          0.398           |  59 | Obeso  |
|      5      |   166   |       72      |       19      |   175   | 25.8 |          0.587           |  51 | Normal |
|      11     |   143   |       94      |       33      |   146   | 36.6 |          0.254           |  51 | Obeso  |
|      13     |   145   |       82      |       19      |   110   | 22.2 |          0.245           |  57 | Normal |
|      5      |   109   |       75      |       26      |    0    | 36.0 |          0.546           |  60 | Obeso  |
|      4      |   111   |       72      |       47      |   207   | 37.1 |           1.39           |  56 | Obeso  |
|      9      |   171   |      110      |       24      |   240   | 45.4 |          0.721           |  54 | Obeso  |
+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+--------+
Truncated to displaylimit of 10.

In [14]:
%%sql
SELECT COUNT(*) FROM(
SELECT Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age,
    CASE
        WHEN Age > 50 AND BMI <30 THEN 'Normal' 
        WHEN Age > 50 AND BMI >=30 THEN 'Obeso'
        ELSE '-'
    END as 'Status'
FROM diabetes
WHERE Status IS NOT '-'
) AS SUBQUERY

Running query in 'sqlite:///novo_banco.db'

+----------+
| COUNT(*) |
+----------+
|    81    |
+----------+

In [22]:
%%sql
CREATE TABLE results (Pregnancies INT,
                        Glucose INT,
                        BloodPressure INT,
                        SkinThickness INT,
                        Insulin INT,
                        BMI DECIMAL(8, 2),
                        DiabetesPedigreeFunction DECIMAL(8, 2),
                        Age INT,
                        Status INT);

Running query in 'sqlite:///novo_banco.db'

++
||
++
++

In [15]:
%%sql
SELECT * FROM results

Running query in 'sqlite:///novo_banco.db'

+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+--------+
| Pregnancies | Glucose | BloodPressure | SkinThickness | Insulin | BMI  | DiabetesPedigreeFunction | Age | Status |
+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+--------+
|      2      |   197   |       70      |       45      |   543   | 30.5 |          0.158           |  53 | Obeso  |
|      8      |   125   |       96      |       0       |    0    |  0   |          0.232           |  54 | Normal |
|      10     |   139   |       80      |       0       |    0    | 27.1 |          1.441           |  57 | Normal |
|      1      |   189   |       60      |       23      |   846   | 30.1 |          0.398           |  59 | Obeso  |
|      5      |   166   |       72      |       19      |   175   | 25.8 |          0.587           |  51 | Normal |
|      11     |   143   |       94      |       33      |   146   | 36.6 |          0.254           |  51 | Obeso  |
|      13     |   145   |       82      |       19      |   110   | 22.2 |          0.245           |  57 | Normal |
|      5      |   109   |       75      |       26      |    0    |  36  |          0.546           |  60 | Obeso  |
|      4      |   111   |       72      |       47      |   207   | 37.1 |           1.39           |  56 | Obeso  |
|      9      |   171   |      110      |       24      |   240   | 45.4 |          0.721           |  54 | Obeso  |
+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+--------+
Truncated to displaylimit of 10.

In [24]:
%%sql

INSERT INTO results(Pregnancies, 
                      Glucose, 
                      BloodPressure, 
                      SkinThickness, 
                      Insulin, 
                      BMI, 
                      DiabetesPedigreeFunction, 
                      Age, 
                      Status) 
SELECT Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age,
    CASE
        WHEN Age > 50 AND BMI <30 THEN 'Normal' 
        WHEN Age > 50 AND BMI >=30 THEN 'Obeso'
        ELSE '-'
    END as 'Status'
FROM diabetes
WHERE Status IS NOT '-'

Running query in 'sqlite:///novo_banco.db'

81 rows affected.

++
||
++
++

In [33]:
%%sql
SELECT * FROM results

Running query in 'sqlite:///novo_banco.db'

+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+--------+
| Pregnancies | Glucose | BloodPressure | SkinThickness | Insulin | BMI  | DiabetesPedigreeFunction | Age | Status |
+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+--------+
|      2      |   197   |       70      |       45      |   543   | 30.5 |          0.158           |  53 | Obeso  |
|      8      |   125   |       96      |       0       |    0    |  0   |          0.232           |  54 | Normal |
|      10     |   139   |       80      |       0       |    0    | 27.1 |          1.441           |  57 | Normal |
|      1      |   189   |       60      |       23      |   846   | 30.1 |          0.398           |  59 | Obeso  |
|      5      |   166   |       72      |       19      |   175   | 25.8 |          0.587           |  51 | Normal |
|      11     |   143   |       94      |       33      |   146   | 36.6 |          0.254           |  51 | Obeso  |
|      13     |   145   |       82      |       19      |   110   | 22.2 |          0.245           |  57 | Normal |
|      5      |   109   |       75      |       26      |    0    |  36  |          0.546           |  60 | Obeso  |
|      4      |   111   |       72      |       47      |   207   | 37.1 |           1.39           |  56 | Obeso  |
|      9      |   171   |      110      |       24      |   240   | 45.4 |          0.721           |  54 | Obeso  |
+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+--------+
Truncated to displaylimit of 10.

In [17]:
m_results = cnn.execute("SELECT * FROM results")

In [18]:
coluns = [coluna[0] for coluna in m_results.description]

In [19]:
m_final = pd.DataFrame.from_records(data = m_results.fetchall(), columns = coluns)

In [20]:
m_final.shape

(81, 9)

In [21]:
m_final.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Status
0,2,197,70,45,543,30.5,0.158,53,Obeso
1,8,125,96,0,0,0.0,0.232,54,Normal
2,10,139,80,0,0,27.1,1.441,57,Normal
3,1,189,60,23,846,30.1,0.398,59,Obeso
4,5,166,72,19,175,25.8,0.587,51,Normal

In [22]:
m_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               81 non-null     int64
 1   Glucose                   81 non-null     int64
 2   BloodPressure             81 non-null     int64
 3   SkinThickness             81 non-null     int64
 4   Insulin                   81 non-null     int64
 5   BMI                       81 non-null     float64
 6   DiabetesPedigreeFunction  81 non-null     float64
 7   Age                       81 non-null     int64
 8   Status                    81 non-null     object
dtypes: float64(2), int64(6), object(1)
memory usage: 5.8+ KB

In [23]:
# Descrevendo os dados n達o num辿ricos
m_final.describe(include = object) #include = object para dados n達o num辿ricos

       Status
count      81
unique      2
top     Obeso
freq       43

In [24]:
# Descrevendo os dados num辿ricos
m_final.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000
mean,5.962963,139.679012,78.382716,15.641975,89.827160,30.211111,0.501519,58.567901
std,3.359481,31.262129,14.048637,18.475192,159.354855,7.802740,0.313708,6.150078
min,0.000000,57.000000,0.000000,0.000000,0.000000,0.000000,0.121000,51.000000
25%,4.000000,114.000000,72.000000,0.000000,0.000000,25.900000,0.245000,53.000000
50%,6.000000,137.000000,78.000000,7.000000,0.000000,30.300000,0.460000,58.000000
75%,8.000000,162.000000,85.000000,29.000000,156.000000,35.600000,0.687000,63.000000
max,13.000000,197.000000,110.000000,99.000000,846.000000,46.500000,1.441000,81.000000

In [39]:
# Salva em CSV
m_final.to_csv('FINAL.csv', index = False)

In [40]:
#too see each table inside my 
%%sql
SELECT name FROM sqlite_master WHERE type='table';

Running query in 'sqlite:///novo_banco.db'

+----------+
|   name   |
+----------+
| diabetes |
| results  |
+----------+