In [1]:
import pandas as pd

In [5]:
data = {
'Neighborhood' : ['Downtown', 'Suburb', 'Suburb', 'Rural'],
'Price': [500000, 300000, 350000, 200000]
}

In [16]:
df = pd.DataFrame(data)

In [17]:
df.head()

  Neighborhood   Price
0     Downtown  500000
1       Suburb  300000
2       Suburb  350000
3        Rural  200000

In [9]:
print(df.describe())

          Price
count       4.0
mean   337500.0
std    125000.0
min    200000.0
25%    275000.0
50%    325000.0
75%    387500.0
max    500000.0

In [12]:
df_dummies = pd.get_dummies(df, columns=['Neighborhood'], drop_first=True, dtype=int)

In [13]:
print(df_dummies)

    Price  Neighborhood_Rural  Neighborhood_Suburb
0  500000                   0                    0
1  300000                   0                    1
2  350000                   0                    1
3  200000                   1                    0

In [14]:
df_dummies = pd.get_dummies(df, columns=['Neighborhood'], drop_first=False, dtype=int)

In [15]:
print(df_dummies)

    Price  Neighborhood_Downtown  Neighborhood_Rural  Neighborhood_Suburb
0  500000                      1                   0                    0
1  300000                      0                   0                    1
2  350000                      0                   0                    1
3  200000                      0                   1                    0