The parameter weekday is True if it is a weekday, and the parameter vacation is True if we are on vacation. We sleep in if it is not a weekday or we're on vacation. Return True if we sleep in.

In [2]:
def sleep_in(weekday, vacation):
  if not weekday or vacation:
    return True
  else:
    return False

In [5]:
sleep_in(False, False)

True

In [6]:
sleep_in(True, False)

False

In [7]:
sleep_in(True, True)

True

In [8]:
sleep_in(False, True)

True

Given an int n, return the absolute difference between n and 21, except return double the absolute difference if n is over 21.

In [10]:
def diff21(n):
  if n <=21:
    result = 21-n
    return result
  else:
    doble = (n-21)*2
    return doble

In [11]:
diff21(10)

11

In [12]:
diff21(25)

8

Given an int n, return True if it is within 10 of 100 or 200. Note: abs(num) computes the absolute value of a number.

In [13]:
def near_hundred(n):
  return abs(100 -n) <=10 or abs(200-n) <=10

In [14]:
near_hundred(90)

True

In [15]:
near_hundred(5)

False

Given a non-empty string and an int n, return a new string where the char at index n has been removed. The value of n will be a valid index of a char in the original string (i.e. n will be in the range 0..len(str)-1 inclusive).

In [16]:
def missing_char(str, n):
  lista = list(str)
  new_result = lista
  del new_result[n]
  return "".join(lista)  # Convert list back to string

In [17]:
missing_char('code', 0)

'ode'

In [18]:
missing_char('chocolate', 8)

'chocolat'

We have two monkeys, a and b, and the parameters a_smile and b_smile indicate if each is smiling. We are in trouble if they are both smiling or if neither of them is smiling. Return True if we are in trouble.

In [19]:
def monkey_trouble(a_smile, b_smile):
  if a_smile == True and b_smile == True or a_smile == False and b_smile == False:
    return True
  else:
    return False

In [21]:
monkey_trouble(False, False)

True

In [22]:
monkey_trouble(False, True)

False

We have a loud talking parrot. The "hour" parameter is the current hour time in the range 0..23. We are in trouble if the parrot is talking and the hour is before 7 or after 20. Return True if we are in trouble.

In [23]:
def parrot_trouble(talking, hour):
  if talking == True and hour <7:
    return True
  elif talking == True and hour >20:
    return True
  else:
    return False

In [24]:
parrot_trouble(True, 21)

True

In [26]:
parrot_trouble(True, 7)

False

Given 2 int values, return True if one is negative and one is positive. Except if the parameter "negative" is True, then return True only if both are negative.

In [27]:
def pos_neg(a, b, negative):
  if negative == True:
    if a<0 and b<0:
      return True
    else:
      return False
  elif negative == False:
    if a >=0 and b<0 or a<0 and b>=0:
      return True
    else:
      return False

In [28]:
pos_neg(-4, -5, True)

True

In [29]:
pos_neg(-1, 1, False)

True

In [30]:
pos_neg(1, -1, True)

False

In [31]:
pos_neg(-5, -6, False)

False

Given a string, return a new string where the first and last chars have been exchanged.

In [32]:
def front_back(str):
    if len(str) < 2:  # If the string has 0 or 1 character, return it as is
        return str
    
    lista = list(str)  # Convert string to a list of characters
    lista[0], lista[-1] = lista[-1], lista[0]  # Swap first and last characters
    return "".join(lista)  # Convert list back to string

In [33]:
front_back('Chocolate')

'ehocolatC'

In [35]:
front_back('hello')

'oellh'

In [36]:
def front_back2(str):
    if len(str) < 2:  # If the string has 0 or 1 character, return it as is
        return str
    
    lista = list(str)  # Convert string to a list of characters
    return lista

In [37]:
front_back2('Murilo')

['M', 'u', 'r', 'i', 'l', 'o']

In [38]:
def front_back3(str):
    if len(str) < 2:  # If the string has 0 or 1 character, return it as is
        return str
    
    lista = []
    for i in str:
        lista.append(i) # Convert string to a list of characters
    return lista

In [39]:
front_back3('Teste 3')

['T', 'e', 's', 't', 'e', ' ', '3']

Given two int values, return their sum. Unless the two values are the same, then return double their sum.

In [41]:
def sum_double(a, b):
  if a == b:
    return ((a+b)*2)

  else:
    return a+b

In [42]:
sum_double(3, 3)

12

In [43]:
sum_double(1, 2)

3

Given 2 ints, a and b, return True if one if them is 10 or if their sum is 10.

In [44]:
def makes10(a, b):
  if a == 10 or b == 10:
    return True
  
  elif a+b == 10:
    return True
  
  else:
    return False

In [45]:
makes10(10, 1)

True

In [46]:
makes10(8, 3)

False


Given a string, return a new string where "not " has been added to the front. However, if the string already begins with "not", return the string unchanged.

In [47]:
def not_string(str):
  if len(str) >= 3 and str[0:3] == "not":
    return str
  else:
    return 'not ' + str

In [48]:
not_string('x')

'not x'

In [49]:
not_string('not bad')

'not bad'

In [50]:
not_string('is not')

'not is not'

Given a string, we'll say that the front is the first 3 chars of the string. If the string length is less than 3, the front is whatever is there. Return a new string which is 3 copies of the front.

In [51]:
def front3(str):
  if len(str) <3:
    return str+str+str
  else:
    new = str[0]+str[1]+str[2] + str[0]+str[1]+str[2]  + str[0]+str[1]+str[2] 
    return new

In [52]:
front3('Chocolate')

'ChoChoCho'

In [53]:
front3('abcXYZ')

'abcabcabc'

In [54]:
front3('a')

'aaa'

Given a string and a non-negative int n, return a larger string that is n copies of the original string.

In [55]:
def string_times(str, n):
  return str*n

In [56]:
string_times('Hi', 5)

'HiHiHiHiHi'

In [57]:
string_times('Oh Boy!', 2)

'Oh Boy!Oh Boy!'

Given a non-empty string like "Code" return a string like "CCoCodCode".

In [58]:
def string_splosion(str):
  result = ''
  for i in range(len(str)):
    result = result + str[0:i+1]
  return result

In [59]:
string_splosion('Code')

'CCoCodCode'

In [60]:
string_splosion('There')

'TThTheTherThere'

Given an array of ints, return True if one of the first 4 elements in the array is a 9. The array length may be less than 4.

In [65]:
def array_front9(nums):
    if len(nums) >= 4:
        for x in range(4):
            if nums[x] == 9:
                return True
    else:
        for x in range(len(nums)):
            if nums[x] == 9:
                return True
    return False

In [66]:
array_front9([1, 2, 3, 4, 5])

False

In [67]:
array_front9([1, 2, 9, 3, 4])

True

In [68]:
array_front9([1, 2, 3, 4, 9])

False

Given a string and a non-negative int n, we'll say that the front of the string is the first 3 chars, or whatever is there if the string is less than length 3. Return n copies of the front;

In [69]:
def front_times(str, n):
  if len(str)>=3:
    text = str[0]+str[1]+str[2]
    return (text)*n
  
  else:
    return str*n

In [70]:
front_times('Chocolate', 3)

'ChoChoCho'

In [71]:
front_times('A', 4)

'AAAA'

In [72]:
front_times('Abc', 0)

''

Given a string, return the count of the number of times that a substring length 2 appears in the string and also as the last 2 chars of the string, so "hixxxhi" yields 1 (we won't count the end substring).

#DONT UNDERSTAND

In [73]:
def last2(str):
  # Screen out too-short string case.
  if len(str) < 2:
    return 0
  
  # last 2 chars, can be written as str[-2:]
  last2 = str[len(str)-2:]
  count = 0
  
  # Check each substring length 2 starting at i
  for i in range(len(str)-2):
    sub = str[i:i+2]
    if sub == last2:
      count = count + 1

  return count

In [74]:
last2('xxaxxaxxaxx')

3

In [75]:
last2('hixxhi')

1

In [76]:
last2('1717171')

2

Given an array of ints, return True if the sequence of numbers 1, 2, 3 appears in the array somewhere.

In [85]:
def array123(nums):
  for i in range(len(nums)-2):
    if nums[i]==1 and nums[i+1]==2 and nums[i+2]==3:
      return True
  return False

In [86]:
array123([1, 1, 2, 3, 1])

True

In [87]:
array123([1, 2])

False

Given a string, return a new string made of every other char starting with the first, so "Hello" yields "Hlo".
#DONT UNDERSTAND

In [88]:
def string_bits(str):
  result = ""
  for i in range(len(str)):
    if i % 2 == 0:
      result = result + str[i]
  return result

In [89]:
string_bits('HiHiHi')

'HHH'

In [90]:
string_bits('Greetings')

'Getns'

Given an array of ints, return the number of 9's in the array

In [91]:
def array_count9(nums):
  resultado = 0
  for i in nums:
    if i == 9:
      resultado +=1
  return resultado

In [92]:
array_count9([1, 9, 9, 3, 9])

3

In [93]:
array_count9([4, 2, 4, 3, 1])

0


Given 2 strings, a and b, return the number of the positions where they contain the same length 2 substring. So "xxcaazz" and "xxbaaz" yields 3, since the "xx", "aa", and "az" substrings appear in the same place in both strings.
DON'T UNDESTAND

In [94]:
def string_match(a, b):
  # Figure which string is shorter.
  shorter = min(len(a), len(b))
  count = 0
  
  # Loop i over every substring starting spot.
  # Use length-1 here, so can use char str[i+1] in the loop
  for i in range(shorter-1):
    a_sub = a[i:i+2]
    b_sub = b[i:i+2]
    if a_sub == b_sub:
      count = count + 1

  return count

In [95]:
string_match('aabbccdd', 'abbbxxd')

1

In [96]:
string_match('abc', 'abc')

2

In [98]:
string_match('abc', 'axc')

0